/* место для вашего кода */

body {
  /* Тот шрифт которого много на страницы, сериф - если сломается что-то */
  /* padding: 0;
  margin: 0;

  font-family: Raleway, sans-serif;
  font-weight: 400; 
  background-color: #f30808; */
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-top: 0;
}

.content-section {
  background-color: #ffffff; 
  
}

.header {
  /* вся шапка; */
  background-color: #ffffff; 
  display: grid;
  /* через грид строю хедер */
  grid-template-columns: 1fr min-content 1fr;
  /* одна треть справа и слева, остальное в центр */

  /* padding: 94px 24px 90px 24px; */
  padding: 92px 50px;
  /* сверху, влево, вниз и налево */

  font-family: Raleway, regular;
  font-size: 18px;
  /*общий шрифт*/
  align-items: center;
    /* выравнивает по центру */

    
}

.header__menu {
  /* контейнер навигации; */
  
  list-style: none;
  display: flex;
  
  gap: 32px;
  text-underline-offset: 4px;

}

.header__links-list-item {
  /* пункт списка ссылок; */
  list-style: none;
/* изолировал маркер */
}

.header__links-list-item_no-bullit {
  /* вам может потребоваться этот класс, 
  чтобы сделать ссылку без кружочка перед ней;  */
  list-style: circle;
}

.header__logo {
}

.header__logo-image {
  width: 141px;
  height: 105px;
}

.address {
  /* контейнер с адресом; */
  font-style: normal;
}

.header__address {
  /* потребуется, чтобы выравнивать блок с адресом. 
  В футере используется другое выравнивание. */
  line-height: 24px;

  text-decoration: underline;
  text-underline-offset: 4px;

  justify-self: end;
  padding-right: 35px;
}









.cover {
  /* вся секция; */
  
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* стандартные настройки */

  position: relative;
  /* позиция относительно формы проекта */
  min-height: 757px;
  padding: 165px 50px;
   /* из фигмы высота секции и отступы, нужны мне для первого текстового объекта*/
  
}

.overlay {
  /* полупрозрачный блок поверх секции; */  
  background-color: #000000;
  opacity: 60%;

  position: absolute;
  /* в основном только для оверлея */
  z-index: 0;
  /* Отвечает за 3д позицирование относительно элементов*/
  inset: 0;
  /* Инсет задаёт позицирование оверлею, обычно четыре значения  */
}

.cover__title {
  /* заголовок; */
  font-family: "Raleway", bold;
  font-size: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
  /* данные из фигмы */

  position: relative;
  /* display: inline-block; */
  /* даёт тексту быть поверх оверлея, обычно четыре значения */
}

.aligned-text {
  /* классы для выравнивания строк текста и превращения их в блочный элемент; 
  для выражения НО */
  
  letter-spacing: 30px;
  display: block;
  line-height: 115%;

}

.letter-spacing-extended {
  /* класс для управления межбуквенным расстоянием в местах, где есть эти акценты; 
  для выражения О(но) и (те)БE*/
  
  align-items: center;
  letter-spacing: 60px;
 
}

.no-letter-spacing {
  /* класс для обнуления общего межбуквенного расстояния для последней буквы;
  для буквы (над)О */
  
  letter-spacing: 0px;
 
}

.aligned-text_center {
  /* классы для выравнивания строк текста и превращения их в блочный элемент; 
   для выражения ТЕ(бе)*/
  
  display: block;
  text-align: center;
  line-height: 135%;
  
  
  
}

.aligned-text_right {
  /* классы для выравнивания строк текста и превращения их в блочный элемент;
  для выражения НАД(о) */

  display: block;
  text-align: right;
  letter-spacing: 37px;
  line-height: 110%;
  
}

.cover__description {
  /* контейнер для подзаголовка и кнопки; */
  
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Raleway, regular;
  font-size: 22px;
}

.cover__description-text {
  /* текст подзаголовка; */
  position: relative;
  top: 158px;
  left: 28px;

  word-spacing: 18px;
  
  
}

.bet-button {
  /* кнопка «Сделать ставку». */
  
  border: 1px solid #FFFFFF;
  background-color: transparent;
  width: 256px;
  height: 51px;
  /* Параметры рамки, цвет и рамка */

  position: relative;
  inset: 120px 740px;

}

